.tab {
    overflow: hidden;
   margin-top: 100px;
    background-color: rgba(0, 0, 0,0.5 q);
    width: 700px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  a{
    color: rgb(0, 0, 0);
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(221, 215, 215);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(194, 186, 186);
  }
  
  /* Style the tab content */
  .tabcontent {
    
    color: rgb(0, 0, 0);
   border: 1px solid black;
    display: none;
    padding: 6px 12px;
   
    border-top: none;

  }


  .mainpage{
      
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 200px;
      width: 600px;
      
  }

  .tablinks{
    font-size: larger;
    font-weight: bold;
      width: 300px;
      border: 1px solid rgb(0, 0, 0) !important;
      color: black;
  }


  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #000000;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

body{
  margin-left: 30%;
  background-image: url("food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}